.descr {
    font-size: 14px;
    color: #999FA6;
    line-height: 20px;
}

.title {
    color: #1B1F23;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.wrapper {
    margin-left: 400px;
    margin-top: 230px;
    text-align: center;
}