.load {
    animation: spin 1s linear infinite;
    margin-left: 500px;
    margin-top: 230px;
}

@keyframes spin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}


