.multi__options {
    position: absolute;
    min-width: 360px;
    display: flex;
    z-index: 999;
    flex-direction: column;
    max-height: 228px;
    overflow-y: scroll;
    box-shadow: 0px 10px 22px -4px #1B1F231F;
  }
  
  .multi__options button {
    background-color: white;
    border: none;
    cursor: pointer;
    text-align: left;
  }
  
  .multi_drop {
    position: relative;
  }
  .multi_drop_option {
    padding: 12px;
    color: 14px;
    line-height: 20px;
    width: 100%;
  }

  .multi__icon {
    position: absolute;
    top: 10px;
    right: 15px;
  }
